body {
  margin: 0;
}

.sidebar {
  margin: 0;
  padding: 10px;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.side{
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  background-color: #E5E5E5;
}
.sidebar-head{
  background-color: white;
  width: 100%;
  z-index: 1;
  padding: 20px;
  border-radius: 20px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .side {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .side {
    text-align: center;
    float: none;
  }
}
  .form-control{
    border-radius: 0;
  }
