
.service-card a{
    color: #111430!important;
}
.service-card a:hover{
    color: #111430;
    text-decoration: none!important;
}
.service-card h5{
    font-weight: 700;
}
.service-card:hover{
    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.445);
}